<h2>{{title}}</h2>

Star Developer
<br />
<br />
<!--Using ngIf directive-->
<div *ngIf="outterWorker == false">
    <button (click)="changeOutter(true)">Show coworker</button>
    <ul>
        <li>{{developer.name}}</li>
        <li>{{developer.age}}</li>
        <li>{{developer.roll}}</li>
    </ul>
</div>

<div *ngIf="outterWorker == true">
    <!--Using click event-->
    <button (click)="changeOutter(false)">Show developer</button>
    <ul>
        <li>{{coworkers[0].name}}</li>
        <li>{{coworkers[0].age}}</li>
        <li>{{coworkers[0].roll}}</li>
    </ul>
</div>

<h3>coworkers list</h3>
<ul>
    <!--Using ngFor directive-->
    <li *ngFor="let coworker of coworkers; let i = index">
        <strong>Coworker {{i+1}}:</strong>
        <ul>
            <li>{{coworker.name}}</li>
            <li>{{coworker.age}}</li>
            <li>{{coworker.roll}}</li>
            <li *ngIf="coworker.hired == true">Is Hired</li>
            <li *ngIf="coworker.hired == false">Is not Hired</li>
        </ul>
    </li>
</ul>

<!--Using ngSwitch and ngStyle directives-->

<h3>Colors switch</h3>
<ul [ngSwitch]="color">
    <li *ngSwitchCase="'red'" [ngStyle]="{'color':color}">It is of RED color</li>
    <li *ngSwitchCase="'blue'" [ngStyle]="{'color':color}">It is of BLUE color</li>
    <li *ngSwitchCase="'green'" [ngStyle]="{'color':color}">It is of GREEN color</li>
</ul>

<!--Using two data binding-->>
<h3>Colors selector</h3>
<input type="text" [(ngModel)]="colorSelected" />
<br>
<br>
<strong>Color selected:</strong>
<pre>{{colorSelected}}</pre>
<div [ngStyle]="{'background':colorSelected,'width':'200px','height':'200px'}">
</div>